<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="idc.aast.test2"
    android:versionCode="25"
    android:versionName="2.3.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
  IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
  to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="idc.aast.test2.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="idc.aast.test2.permission.C2D_MESSAGE" />

    <application
        android:name="idc.aast.test2.application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher3"
        android:label="@string/app_name"
        android:theme="@style/Theme.Base.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="idc.aast.test2.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="idc.aast.test2.MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="idc.aast.test2.ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/Theme.Base.AppCompat.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="idc.aast.test2.List_detail"
            android:label="@string/title_activity_list_detail"
            android:theme="@style/Theme.Base.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="idc.aast.test2.Slide"
            android:label="@string/title_activity_slide" >
        </activity>
        <activity
            android:name="idc.aast.test2.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="idc.aast.test2.TesttActivity"
            android:label="@string/title_activity_testt" >
        </activity>
        <activity
            android:name="idc.aast.test2.Accounts"
            android:label="@string/title_activity_accounts" >
        </activity>
        <activity
            android:name="idc.aast.test2.Morasalat"
            android:label="@string/title_activity_morasalat" >
        </activity>
        <activity
            android:name="idc.aast.test2.Test_database"
            android:label="@string/title_activity_test_database" >
        </activity>
        <activity
            android:name="idc.aast.test2.Results"
            android:label="@string/title_activity_results" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name. -->
                <category android:name="idc.aast.test2" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="idc.aast.test2.MyCustomReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="idc.aast.test2.UPDATE_STATUS" />
            </intent-filter>
        </receiver>

        <activity
            android:name="idc.aast.test2.SchDays"
            android:label="@string/title_activity_sch_days" >
        </activity>
        <activity
            android:name="idc.aast.test2.SchedueleDetails"
            android:label="@string/title_activity_scheduele_details" >
        </activity>
    </application>

</manifest>